.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:680px) {
    .container{
        margin-top: 5rem;
    }
    
}