.label-text{
    font-weight: 600;
    margin-right: 1rem;
}

.input-style{
    border: 1px solid var(--dark-gold);
    padding: 0.25rem 0.25rem;
    width: 35%;
    border-radius: 20px;
    color: var(--dark-gold);
    text-align: center;
}
